<app-navbar />
<section class="hero">
<!-- lado izquierdo -->
<div class="home-izquierdo">
  <h1>Riego automatico,
  <span class="hero-highlight">siempre en el</span>
  momento perfecto
  </h1>

<p class="hero-subtitle">Monitorea la temperatura y humedad del suelo.
    Te notificamos cuando es el momento de regar
</p>
<div class="hero-boton">
<a routerLink="/login" class="Bton-home" >Comenzar</a>
<a routerLink="/video" class="Bton-home-video" >Ver como funciona</a>
</div>

<!-- Features -->
<div class ="hero-features">
    <div class="features">
        <img src="assets/home.png" alt="Logo" class="logo-img" />
    <div>
 <p class="features-title">Notificamos</p>
 <p class="features-subtitle">te enviamos cuando es momento de regar.</p>
 </div>
    </div>

 <div class="features">    
        <img src="assets/home.png" alt="Logo" class="logo-img" />
    <div>
 <p class="features-title">Medicion precisa</p>
 <p class="features-title">Temperatura y humedad en tiempo real</p>
    </div>
 </div>

 <div class="features">
        <img src="assets/home.png" alt="Logo" class="logo-img" />
    <div>
 <p class="features-title">Control Inteligente</p>
 <p class="home-subtitle">Riega solo cuando el jardin lo necesita</p>
    </div>
 </div>
 </div>
 </div>


 <!-- lado derecho -->
 <div class="home-imagen">
  <img src="assets/home.png" alt="Imagen de riego" class="home-img" />
 </div>
</section>

