<app-navbar />
<section class="hero">
 <!-- lado izquierdo -->
 <div class="home-izquierdo">
  <h1>Riego automatico,
  <span class="hero-highlight">siempre en el</span>
  momento perfecto.
  </h1>

 <p class="hero-subtitle">Monitorea la temperatura y humedad del suelo.<br> Te notificamos cuando es el momento de regar
 </p>
 <div class="hero-boton">
 <a routerLink="/login" class="Bton-home" >Comenzar</a>
 <a routerLink="/video" class="Bton-home-video" >Ver como funciona</a>
 </div>

 <!-- Features -->
 <div class ="hero-features">
    <div class="features">
        <img src="assets/logo-descripcion.png" alt="Logo-desc" class="logo-desc" />
    <div>
 <p class="features-title">Notificamos</p>
 <p class="features-subtitle">Te enviamos cuando es<br> momento de regar.</p>
 </div>
    </div>

 <div class="features">    
        <img src="assets/logo-des-tempe.png" alt="Logo-desc" class="logo-desc" />
    <div>
 <p class="features-title">Medicion precisa</p>
 <p class="features-subtitle">Temperatura y humedad en <br>tiempo real</p>
    </div>
 </div>

 <div class="features">
        <img src="assets/logo-des-control.png" alt="Logo-desc" class="logo-desc" />
    <div>
 <p class="features-title">Control Inteligente</p>
 <p class="features-subtitle">Riega solo cuando el <br>jardin lo necesita.</p>
    </div>
 </div>
 </div>
 </div>

 <!-- lado derecho -->
 <div class="home-imagen">
  <img src="assets/imagen-home.png" alt="Imagen de riego" class="image-home-img" />
 </div>
</section>
 <section class="because">
<h2 class="because-title">¿Por qué es importante un riego adecuado?</h2>

  <div class="because-cards">

    <div class="because-card">
      <img src="assets/logo-plantas.png" alt="Cuida tus plantas" class="because-icon" />
      <div>
        <p class="because-card-title">Cuida tus plantas</p>
        <p class="because-card-desc">Un riego adecuado promueve el crecimiento saludable y fuerte de tus plantas.</p>
      </div>
    </div>

    <div class="because-card">
      <img src="assets/logo-agua.png" alt="Ahorra agua" class="because-icon" />
      <div>
        <p class="because-card-title">Ahorra agua</p>
        <p class="because-card-desc">Regar solo cuando es necesario evita el desperdicio y contribuye al cuidado del medio ambiente.</p>
      </div>
    </div>

    <div class="because-card">
      <img src="assets/logo-problemas.png" alt="Previene problemas" class="because-icon" />
      <div>
        <p class="because-card-title">Previene problemas</p>
        <p class="because-card-desc">Evitar el exceso o la falta de agua reduce el riesgo de enfermedades y daños en el suelo.</p>
      </div>
    </div>

  </div>

</section>

